body {
    background-color: #fafafa;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

#main {
    display: flex;
    justify-content: center;
    margin-top: 112px;
}

#header-footer-controller {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.part {
    background-color: #ffffff;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 1px;
    padding: 10px 40px;
    padding-bottom: 16px;
    margin-bottom: 10px;
}

#title {
    margin: 22px auto 36px;
    background-repeat: no-repeat;
    background-position: 0 -130px;
    height: 51px;
    width: 175px;
    background-image: url(icons.png);
    display: block;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
    padding: 0;
    border: 0;
}

#fb-login {
    text-align: center;
    cursor: not-allowed;
    margin-top: 8px;
    margin-bottom: 20px;
}

#fb-login>span {
    color: #385185;
    font-size: 14px;
    font-weight: 600;
}

#fb-icon {
    background-image: url(icons.png);
    background-repeat: no-repeat;
    background-position: -414px -259px;
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-right: 8px;
    position: relative;
    top: 3px;
}

.inp-ct {
    height: 38px;
    width: 268px;
    margin-bottom: 6px;
}

.inp-ct>input[type="text"i], .inp-ct>input[type="password"i] {
    height: calc(100% - 4px);
    width: calc(100% - 14px);
    margin: 0;
    padding: 0 0 0 10px;
    border-radius: 2px;
    border: 1px solid rgb(219, 219, 219);
    background-color: #fafafa;
    color: rgb(38, 38, 38);
}

.line {
    background-color: rgb(219, 219, 219);
    height: 1px;
    position: relative;
    top: .45em;
    width: 106px;
}

.flex-row-ct {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 18px;
}

button {
    background-color: #0095f6;
    width: 100%;
    height: 30px;
    border: 0;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    margin: 8px 0;
}

a {
    text-decoration: none;
    color: rgb(0, 55, 107);
    font-size: 12px;
    line-height: 16px;
    margin-top: 12px;
}

#or-text {
    color: rgb(142, 142, 142);
    font-size: 14px;
    font-weight: 600;
}

#getapp {
    text-align: center;
}

#getapp>p {
    color: rgb(38, 38, 38);
    font-size: 14px;
    line-height: 18px;
    margin: 40px auto 20px auto;
}

#img-container {
    display: flex;
    justify-content: center;
}

#img-container>a {
    width: 136px;
    height: auto;
    margin: 0 4px;
}

#img-container>a>img {
    width: 100%;
    height: auto;
}

#footer {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#footer>div {
    margin: 10px;
    color: rgb(142, 142, 142);
    font-weight: 400;
    font-size: 12px;
}

#msg {
    margin-bottom: 36px;
    text-align: center;
}

#msg>div {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 10px;
}

#msg>div:nth-child(2) {
    font-weight: 400;
    font-size: 13px;
}

#incorrect-password {
    color: red;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

button:focus {
    background-color: #0095f6aa;
    border: 2px solid #0095f6;
}